{% comment %}
    Renders a list of product's price (regular, sale, unit)
    Accompanies product forms and meant to be updated dynamically
    Accepts:
    - variant: {Object} Variant Liquid object (optional)
    - product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-price', variant: current_variant, product: product %}
{% endcomment %}
{%- liquid
  if variant.title
    assign compare_at_price = variant.compare_at_price
    assign price = variant.price
    assign available = variant.available
  else
    assign compare_at_price = 1999
    assign price = 1999
    assign available = true
  endif

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  else
    assign money_price = price | money
  endif
-%}

<dl class="price
  {% if available == false %} price--sold-out {% endif %}
  {% if compare_at_price > price %} price--on-sale {% endif %}
  {% if variant.unit_price_measurement %} price--unit-available {% endif %}"
  data-price
>
  
  
<style>
.title-news-product li{padding-left: 15px;     position: relative; font-size: 18px;     color: #000;}
.title-news-product li::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 13px;
    left: 0;
}
      @media screen and (max-width: 750px) {
.product-single__title{font-size: 23px !important;}
.title-news-product{    margin-top: 10px !important;}
.title-news-product li{font-size: 16px !important;}
}
</style>
 
  

  
  <!-- Y1s Electric Toothbrush-->

   {% if variant.id == 41574142738610  %}
   <ul class="title-news-product">
	<li>38,000 RPM Strong Power</li>
	<li>3 Brushing Modes</li>
	<li>180 Days Battery life</li>
	<li>200ml detachable reservoir/water tank</li>
	<li>Up to 1200 pulses per minute</li>
   </ul> 
  {% endif %} 
  

  
	<!--U3 For 1 Years Set-->
   {% if variant.id == 41561461457074 or variant.id == 41564783542450 %}
   <ul class="title-news-product">
	<li>38,000 RPM Strong Power</li>
	<li>Large-sized Color Screen</li>
	<li>Noise Reduction Technology</li>
	<li>4 Brushing Modes with 3 strengths</li>
	<li>Faded Filaments</li>
	<li>Dupont Premium Material</li>
        <li>Fast Local Shipping</li> 
   </ul> 
  {% endif %}
  
  	<!--Y1 For 1 Years Set:-->
   {% if variant.id == 41563827568818  %}
   <ul class="title-news-product">
	<li>38,000 RPM Strong Power</li>
	<li>Ergonomic grip design</li>
	<li>3 Brushing Modes</li>
	<li>180 Days Battery life</li>
	<li>DuPont High Density Filaments</li>
	<li>End Rounded Filaments</li>
        <li>Fast Local Shipping</li> 
   </ul> 
  {% endif %} 
  
  
  	<!--Double Y1s set：-->
   {% if variant.id == 41564780069042  %}
   <ul class="title-news-product">
	<li>38,000 RPM Strong Power</li>
	<li>Ergonomic grip design</li>
	<li>Noise Reduction Technology</li>
	<li>3 Brushing Modes</li>
	<li>180 Days Battery life</li>
	<li>Type-C Quick Charging</li>
        <li>IPX7 Waterproof</li> 
     <li>Fast Local Shipping</li>
   </ul> 
  {% endif %} 
  
  <!--P1 With 3 Brush head:-->
   {% if variant.id == 41561344344242  %}
   <ul class="title-news-product">
	<li>38,000 Vibrations Per Minute</li>
	<li>3 Brushing Modes</li>
	<li>4.5 Hours Fast Charging, 180 Days Battery Life</li>
	<li>Faded Filaments</li>
	<li>Dupont Premium Material</li>
	<li>Fast Local Shipping</li>
   </ul> 
  {% endif %}  
  
    <!--Double P1 Set:-->
   {% if variant.id == 41564782198962  %}
   <ul class="title-news-product">
	<li>38,000 Vibrations Per Minute</li>
	<li>Noise Reduction Technology</li>
	<li>Lightweight & Portable</li>
	<li>3 Brushing Modes</li>
	<li>Easy to Use</li>
	<li>4.5 Hours Fast Charging, 180 Days Battery Life</li>
    <li>IPX7 Waterproof</li>
     <li>Fast Local Shipping</li>
   </ul> 
  {% endif %} 
  
  
  
  
  
  
  
  
	<!--u1-->
   {% if variant.id == 40829297098930  %}
   <ul class="title-news-product">
	<li>95-Day Battery Life</li>
	<li>200 ml Detachable Reservoir/Water Tank</li>
	<li>Up to 1,200 Pulses per Minute </li>
	<li>Smart Timer</li>
	<li>4 High-Performance Nozzles</li>
	<li>Accessible Water Refill and Detachable Water Tank</li>
        <li>Fast Local Shipping</li>
   </ul> 
  {% endif %} 

<!--u3-->
   {% if variant.id == 40829006577842  %}
	<ul class="title-news-product">
		<li>38,000 rpm for Real Power</li>
		<li>Large, Multicolor Display</li>
		<li>Noise-Reduction Technology</li>
		<li>4 Brushing Modes and 3 Strengths</li>
		<li>180-Day Battery life</li>
		<li>Type-C Quick Charging 2.0</li>
		<li>IPX7 Waterproof</li>
         <li>Fast Local Shipping</li> 
	</ul> 
 {% endif %} 
 
 

<!-- Y1s-->
   {% if variant.id == 39401635971250  %}
	<ul class="title-news-product">
	<li>38,000 rpm for Real Power</li>
<li>Ergonomic Grip Design</li>
<li>Noise-Reduction Technology</li>
<li>3 Brushing Modes</li>
<li>180-Day Battery Life</li>
<li>Type-C Quick Charging</li>
<li>IPX7 Waterproof</li>
         <li>Fast Local Shipping</li>
	</ul> 
 {% endif %} 
 
 
 <!--  P1:-->
   {% if variant.id == 40924515303602  %}
	<ul class="title-news-product">
<li>38,000 Strikes per Minute</li>
<li>Noise-Reduction Technology</li>
<li>Light-Weight, Portable</li>
<li>3 Brushing Modes</li>
<li>Easy to Use</li>
<li>4.5 Hours Fast Charging; 180-Day </li>
<li>Battery Life</li>
         <li>IPX7 Waterproof</li>
      <li>Fast Local Shipping</li>
	</ul> 
 {% endif %} 
 
 

 <!--   粉色刷头:-->
   {% if variant.id == 41468783657138  %}
	<ul class="title-news-product">
<li>DuPont High-Density Filaments</li>
<li>End Rounded Filaments</li>
<li>3D Arc Design</li>
         <li>Fast Local Shipping</li>
	</ul> 
 {% endif %} 

 <!--   白色刷头：-->
   {% if variant.id == 39376193061042  %}
	<ul class="title-news-product">
<li>Faded Filaments</li>
<li>Food-Grade Material</li>
<li>Diamond-Grade Filaments</li>
<li>95% Rounded Rate</li>
<li>High Density</li>
         <li>Fast Local Shipping</li>
	</ul> 
 {% endif %} 
 
 
  
  
 
  {% if show_vendor and product %}
    <div class="price__vendor">
      <dt>
        <span class="visually-hidden"> {{ 'products.product.vendor' | t }}</span>
      </dt>
      <dd>
        {{ product.vendor }}
      </dd>
    </div>
  {% endif %}

  {%- comment -%}
    Explanation of description list:
      - div.price__regular: Displayed when there are no variants on sale
      - div.price__sale: Displayed when a variant is a sale
      - div.price__unit: Displayed when the first variant has a unit price
      - div.price__availability: Displayed when the product is sold out
  {%- endcomment -%}
  
  
 
  <div class="price__pricing-group">
    <div class="price__regular">
      <dt>
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.regular_price' | t }}</span>
      </dt>
      <dd>
        <span class="price-item price-item--regular" data-regular-price>
          {{ money_price }}
        </span>
      </dd>
    </div>
    <div class="price__sale"  style="    margin-top: 20px;
    margin-bottom: 10px;">
      <dt>
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.sale_price' | t }}</span>
      </dt>
      <dd>
        <span class="price-item price-item--sale" data-sale-price>
          {{ money_price }}
        </span>
      </dd>
      <dt>
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.regular_price' | t }}</span>
      </dt>
      <dd>
        <s class="price-item price-item--regular" data-regular-price>
          {% if settings.currency_code_enabled %}
            {{ compare_at_price | money_with_currency }}
          {% else %}
            {{ compare_at_price | money }}
          {% endif %}
        </s>
      </dd>
    </div>
    <div class="price__badges">
      <span class="price__badge price__badge--sale" aria-hidden="true">
        <span>{{ 'products.product.on_sale' | t }}</span>
      </span>
      <span class="price__badge price__badge--sold-out">
        <span>{{ 'products.product.sold_out' | t }}</span>
      </span>
    </div>
  </div>
  <div class="price__unit">
    <dt>
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
    </dt>
    <dd class="price-unit-price">
      {%- capture unit_price_separator -%}
        <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
      {%- endcapture -%}
      {%- capture unit_price_base_unit -%}
        <span data-unit-price-base-unit>
          {%- if variant.unit_price_measurement -%}
            {%- if variant.unit_price_measurement.reference_value != 1 -%}
              {{- variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ variant.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}

      <span data-unit-price>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
    </dd>
  </div>
</dl>
